<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/zui/1.8.1/css/zui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music</title>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="margin-top: 50px">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div id="aplayer"></div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    const ap = new APlayer({
    container: document.getElementById('aplayer'),
    mini: false,
    autoplay: false,
    theme: '#FADFA3',
    loop: 'all',
    order: 'list',
    preload: 'auto',
    volume: 0.7,
    mutex: true,
    listFolded: false,
    listMaxHeight: '400px',
    audio: [
        {% if playlistView %}
            {% set songs = playlist.tracks %}
        {% elif albumView %}
            {% set songs = playlist.songs %}
        {% endif %}
        {% for song in songs %}

            {
                name: '{{ song.name }}',
                artist: '{% for ar in song.ar[:-1] %}{{ ar.name }} / {% endfor %}{{ song.ar[-1].name }}',
                url: 'http://music.163.com/song/media/outer/url?id={{ song.id }}.mp3',
                cover: '{{ song.al.picUrl }}'
            },
        {% endfor %}
    ]
});
</script>